<div class="col-sm-3 col-lg-2">
    <div class="container-fluid " style="height:100%; padding-left: 0; background-color: #064169">
        <ul class="nav nav-pills nav-stacked" style="height:100%; padding-left: 10; background-color: #064169" >
            <li><a ui-sref="preferenciasList">Categorías</a></li>
            <li><a ui-sref="guiasList">Guías</a></li>
       <p id='1'>Nombre:</p>
       <p><input type="text" ng-model="name"></p>
    <p>Ciudad:</p>
    <p><input type="text" ng-model="ciudad"></p>
    <p>Pais:</p>
    <p><input type="text" ng-model="pais"></p>
    <div  style = "display:none;">
        <input type="number" ng-model="minRangeSlider.minValue" />
        <input type="number" ng-model="minRangeSlider.maxValue" />
    </div>
    <p>Precio:</p>
    <rzslider rz-slider-model=minRangeSlider.minValue rz-slider-high=minRangeSlider.maxValue rz-slider-options=minRangeSlider.options></rzslider>
    <div  style = "display:none;">
        <input   type="number" ng-model="minRangeSliderP.minValue" />
        <input type="number" ng-model="minRangeSliderP.maxValue" />
    </div>
    <p># de personas:</p>
    <rzslider rz-slider-model=minRangeSliderP.minValue rz-slider-high=minRangeSliderP.maxValue rz-slider-options=minRangeSliderP.options  ></rzslider>

    <div  style = "display:none;" >
        <input type="number" ng-model="minRangeSliderV.minValue"  />
        <input type="number" ng-model="minRangeSliderV.maxValue" />
    </div>
    <p>Valoración promedio:</p>
    <rzslider rz-slider-model=minRangeSliderV.minValue rz-slider-high=minRangeSliderV.maxValue rz-slider-options=minRangeSliderV.options></rzslider>
    
    <p>Categorías:</p>
    <label ng-repeat="preferencia in AllPreferencias" style="color: #ED7A27;"> <input type=checkbox ng-model="preferencia.selected"> {{preferencia.tipoPlan}}</label>
            
    <br>
    <br>
    <br>
      <div class="btn-group mr-2" role="group" aria-label="First group">
                            <a class="btn btn-info" ui-sref="plansCreate"><span class="glyphicon glyphicon-plus-sign"></span> Añadir un nuevo plan</a>
                        </div>        
            
             </ul>

    </div>
    
</div>

<div class="col-sm-9 col-lg-10">

            <div class="container-fluid"  >
                <div class="row">
                    <div class = "row form-group"></div>
                    <div class="col-sm-9 col-lg-10">
                        <div ui-view="detailView"></div>
                    </div>
                </div>
                <div class="row">

                    
                    <h2 class="caption text-center" style="color: #ED7A27 ; font-family: 'Fjalla One', sans-serif;" > Planes en tu destino </h2>
                    <br>
                     <br>
                 
                    <br>
                   
                    <div class="col-md-3" ng-repeat="plan in plansRecords| filter:{'name':name}

                                |filter:{'ubicacion':{'ciudad':ciudad}}|filter:{'ubicacion':{'pais':pais}}|
                                filter:betweenValuesPrecio('precio', minRangeSlider.minValue, minRangeSlider.maxValue) 
                                |filter:betweenValuesPrecio('cantidadPersonas', minRangeSliderP.minValue, minRangeSliderP.maxValue) 
                                | filter: betweenValuesValoracion('valoraciones', minRangeSliderV.minValue, minRangeSliderV.maxValue)
                                | filter: prefInPlan('categoriasPlan', AllPreferencias)">
                        <div class="thumbnail" style =" height: 20%; width: 80%" >
                            <a ui-sref="planDetail({planId: plan.idPlan})">                    
                                <img class="img-responsive img-rounded" ng-src='{{plan.archivo}}' alt="{{plan.name}} " style =" height: 80%;" />                                                  
                            </a>

                            <div class="caption text-center" style="color: black ; font-family: 'Fjalla One', sans-serif;">
                                <h4>{{plan.name}}</h4>

                            </div>
                        </div>
                    </div>
                </div>
                
            </div>

</div>

