<div class="panel panel-default"> 
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="thumb">
                    <img class="img-responsive" ng-src="{{currentPlan.archivo}}"/>
                </div>

            </div>
            <div class="col-md-3">
                <dl>     
                    <dt class="bold">{{currentPlan.name}}</dt>
                    <dt> Duración</dt>
                    <dd>{{currentPlan.duracion}}</dd>
                    <dt>Restricciones</dt>
                    <dd>{{currentPlan.restricciones}}</dd>
                    <dt>Cantidad de personas recomendada</dt>
                    <dd>{{currentPlan.cantidadPersonas}}</dd>
                    <dt>Precio</dt>
                    <dd>{{currentPlan.precio}}'$'</dd>                    
                    <dt class="bold">Descripcion</dt>
                    <dd>{{currentPlan.descripcion}}</dd>
                    <ul ng-repeat="valoracion in currentPlan.valoraciones">
                        <dd> {{valoracion.calificacion}}</dd>
                        <dd> {{valoracion.comentario}}</dd>
                    </ul>
                    <ul ng-repeat="cat in currentPlan.cagoriasPlan">
                        <dd> {{cat.calificacion}}</dd>
                        <dd> {{cat.comentario}}</dd>
                    </ul>
                </dl>
                <ul class="nav nav-tabs">
                    <li> <a ui-sref="planDetailGuides({planId: currentPlan.idPlan})">Reviews</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


