<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>    
                    <th>Costo</th>    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pago in pagosRecords">
                    <td id="{{$index}}-name">{{pago.nombrePlan}}</td>  
                    <td id="{{$index}}-name">{{pago.costo}}</td>  
                    <td ><a class="btn btn-default btn-sm" ui-sref="pagoUpdate({pagoId: pago.id})"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a class="btn btn-danger btn-sm" ui-sref="pagoDelete({pagoId: pago.id})"><span class="glyphicon glyphicon-trash"></span></a></td>
                </tr>
            </tbody>
        </table>
        <div class="btn-group mr-2" role="group" aria-label="First group">
        <a class="btn btn-info" ui-sref="pagoCreate"><span class="glyphicon glyphicon-plus-sign"></span> Agregar pago</a>
     </div>
    </div>
</div>