/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/05/2018, 09:00:38 PM
    Author     : s.benitez10
*/
.nav-tabsPlan > li {
    float:none;
    display:inline-block;
    *display:inline;
     zoom:1;
}

.tituloPlan{
    text-align:center;
    font-family: 'Fjalla One', sans-serif;
   font-size: 25px;
}
.nav-tabs{
    text-align:center;
}

.checked {
    color: orange;
    height: 50px;
    width: 50px;
}
.general{
    margin-top:40px; 
}
a {
   color: #ED7A27; 
   font-family: 'Fjalla One', sans-serif;
   font-size: 20px;
}
a { 
   font-family: 'Fjalla One', sans-serif;
   font-size: 25px;
}
.form-signin-heading{
       color:  #064169;
       font-family: 'Fjalla One', sans-serif;
}
.form-control{
    border-color:#ED7A27; 
}
.navbar-fixed-top{
    background-color: #064169;
    height:60px;
}
button{
   font-family: 'Fjalla One', sans-serif;
}
.nav-stacked{
    background-color: #064169;
    
}
.tarjetas{
    width: 200px
}
p {
    color: #ED7A27;
    font-family: 'Fjalla One', sans-serif;
}

.rzslider .rz-bubble, .rzslider .rz-tick-value {
    color: #ED7A27;
    font-family: 'Fjalla One', sans-serif;
}
label{
    color:#064169;
    font-family: 'Fjalla One', sans-serif;
}