<html ng-app="mainApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>PejeTurismo</title>

        <!-- Dependencias Externas -->
        <link href="https://fonts.googleapis.com/css?family=Fjalla+One|Roboto" rel="stylesheet">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="bower_components/angularjs-slider/dist/rzslider.css"/>
        <link rel="stylesheet" href="resources/style.css">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/lodash/lodash.js?"></script>       
        <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.js?"></script>
        <script src="bower_components/angularjs-slider/dist/rzslider.min.js"></script>
        <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script> 
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPzLa_NSYajDZQQLzZ4W5wjQ1BFgqR5Qk" type="text/javascript"></script>

        <!-- Plans -->
        <script src="src/modules/plans/plans.mod.js" type="text/javascript"></script>
        <script src="src/modules/plans/plans.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/plans/plans.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/plans/guias/plans.detail.guides.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/plans/categorias/plans.detail.preferencias.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/plans/new/plans.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/plans/update/plans.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/plans/delete/plans.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/plans/ubicacion/plans.map.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/plans/valoraciones/plans.detail.valoraciones.ctrl.js" type="text/javascript"></script>

        <!-- tarjetas -->
        <script src="src/modules/tarjetasCredito/tarjetas.mod.js" type="text/javascript"></script>
        <script src="src/modules/tarjetasCredito/tarjetas.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/tarjetasCredito/tarjeta.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/tarjetasCredito/tarjetaNew.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/tarjetasCredito/tarjetas.update.ctrl.js" type="text/javascript"></script>
        <!--ubicacion -->
        <script src="src/modules/ubicacion/ubicacion.mod.js" type="text/javascript"></script>
        <script src="src/modules/ubicacion/ubicacion.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/ubicacion/ubicacion.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/ubicacion/ubicacion.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/ubicacion/ubicacion.update.ctrl.js" type="text/javascript"></script>
        <!-- facturas -->
        <script src="src/modules/facturas/facturas.mod.js" type="text/javascript"></script>
        <script src="src/modules/facturas/facturas.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/facturas/facturas.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/facturas/facturas.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/facturas/facturas.update.ctrl.js" type="text/javascript"></script>

        <!-- Preferencias -->
        <script src="src/modules/preferencias/preferencias.mod.js" type="text/javascript"></script>
        <script src="src/modules/preferencias/preferencias.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/preferencias/new/preferencias.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/preferencias/update/preferencias.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/preferencias/delete/preferencias.delete.ctrl.js" type="text/javascript"></script>

        <!-- Guias -->
        <script src="src/modules/guias/guias.mod.js" type="text/javascript"></script>
        <script src="src/modules/guias/guias.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/guias/new/guias.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/guias/update/guias.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/guias/delete/guias.delete.ctrl.js" type="text/javascript"></script>

        <!-- comentarios -->
        <script src="src/modules/comentarios/comentarios.mod.js" type="text/javascript"></script>
        <script src="src/modules/comentarios/comentarios.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/comentarios/comentarioNew.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/comentarios/comentarioUpdate.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/comentarios/comentarios.delete.ctrl.js" type="text/javascript"></script>

        <!-- blogs -->
        <script src="src/modules/blogs/blogs.mod.js" type="text/javascript"></script>
        <script src="src/modules/blogs/blogs.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/blogs/blogs.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/blogs/blogNew.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/blogs/blogs.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/blogs/blog.delete.ctrl.js" type="text/javascript"></script>


        <!-- pagos -->
        <script src="src/modules/pagos/pagos.mod.js" type="text/javascript"></script>
        <script src="src/modules/pagos/pagos.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/pagos/new/pagos.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/pagos/update/pagos.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/pagos/delete/pagos.delete.ctrl.js" type="text/javascript"></script>

        <!-- paquetes -->
        <script src="src/modules/paquetes/paquetes.mod.js" type="text/javascript"></script>
        <script src="src/modules/paquetes/paquetes.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/paquetes/paquetes.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/paquetes/new/paquete.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/paquetes/delete/paquete.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/paquetes/update/paquetes.update.ctrl.js" type="text/javascript"></script>

        <!-- Planes Agendados -->
        <script src="src/modules/planesAg/planesAg.mod.js" type="text/javascript"></script>
        <script src="src/modules/planesAg/planesAg.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/planesAg/planesAg.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/planesAg/new/planesAg.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/planesAg/update/planesAg.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/planesAg/delete/planesAg.delete.ctrl.js" type="text/javascript"></script>

        <!-- Usuario -->
        <script src="src/modules/usuarios/usuarios.mod.js" type="text/javascript"></script>
        <script src="src/modules/usuarios/usuarios.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/usuarios/usuarios.detail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/usuarios/usuarios.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/usuarios/usuarios.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/usuarios/usuarios.delete.ctrl.js" type="text/javascript"></script>

        <!-- Valoraciones -->
        <script src="src/modules/valoraciones/valoraciones.mod.js" type="text/javascript"></script>
        <script src="src/modules/valoraciones/valoraciones.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/valoraciones/valoraciones.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/valoraciones/valoraciones.update.ctrl.js" type="text/javascript"></script>

        <!-- Login-->
        <script src="src/modules/login/login.mod.js" type="text/javascript"></script>
        <script src="src/modules/login/login.ctrl.js" type="text/javascript"></script>        
        <script src="src/modules/login/logout.ctrl.js" type="text/javascript"></script>

        <script src="src/app.js" type="text/javascript"></script> 
        <script src="src/http-interceptor.factory.js" type="text/javascript"></script>

        <style type="text/css">
            #map_canvas
            {
                height: 50%;
                width: 100%;
                margin: 10px;
            }

            #map_canvas
            {
                position: relative;
            }

            .angular-google-map-container 
            {
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
            }
        </style>

    </head>

    <body style="padding-top: 20px;">      
            <div ng-if="isAuthenticated()"  class="row">
                <div ng-if="isAuthenticated()"  class="col-lg-12">
                    <div class="container-fluid col-md-12">
                        <div class="col-md-11">
                        <ul class=" navbar-fixed-top nav nav-tabs" style=" border: 0;">
                            <li class="navbar-brand" > <img alt="Pejelagartos" src="resources/images/logoBlanco.png"  style="width:30px;height:40px;"></li>
                            <li><a ui-sref="plansList">Planes</a></li>

                            <li><a ui-sref="blogsList" >Busca blogs</a></li>
                            <li><a ui-sref="paquetesList">Paquetes</a></li>
                            <li><a ui-sref="usuariosDetail({usuarioId: currentId})" >Mi perfil</a></li>
                            <li><a ui-sref="valoracionesList" >Valoraciones</a></li>
                           
                            <li class="navbar-right" ><a ui-sref="logout">Logout <span class="glyphicon glyphicon-user" aria-hidden="true" style="color: #ED7A27;"></span></a></li>
                        </ul>

                    </div>
                </div> 
            </div>

        </div>
        <div ng-if="!isAuthenticated()"  class="container-fluid"> 
            <div class="col-md-12">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="login" style="color: #ED7A27; font-family: 'Fjalla One', sans-serif;">Iniciar Sesion <span class="glyphicon glyphicon-user"></span> </a></li>
                </ul>
            </div>
            <div class="container-fluid col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <img src="resources/images/logoazul.png" alt="logo2" style="width:400px;height:400px;"/>
                </div>
                <div class="col-md-3">
                    <h1 id="TituloPagina" style="color: #ED7A27; font-family: 'Fjalla One', sans-serif;">PEJELAGARTOS TOURS</h1>
                    <h3 id="descripccion" style="color: #003366; font-family: 'Fjalla One', sans-serif;">Conoce los mejores planes turisticos de tu ciudad</h3>
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" ng-model="miPlan" class="form-control input-lg" placeholder="Encuentra los mejores planes" />
                            <span class="input-group-btn">
                                <button class="btn btn-info btn-lg" type="button" ng-controller = "planTemp" ng-click="buscar(miPlan)">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>

        <div ui-view="mainView"> </div>


    </body>
</html>
