<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <a class="btn btn-info" ui-sref="valoracionesCreate"><span class="glyphicon glyphicon-plus-sign"></span> Añadir una valoracion</a>
            </div>
        </div>
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Calificacion</th>    
                    <th>Comentario</th> 
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="val in valoracionesRecords">
                    <td id="{{$index}}-name">{{val.calificacion}}</td>  
                    <td id="{{$index}}-name">{{val.comentario}}</td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>
