<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div id="alertPanel" style="text-align: center"></div>
<div class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>comentario</th>    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="comentario in comentariosRecords">
                    <td id="{{$index}}-name">{{comentario.comentario}}</td>  
                </tr>
            </tbody>
        </table>
    </div>
</div>
