<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createPlan">Crear nuevo Plan</label>
                <label ng-if="edit" id="editPlan">Editar Plan</label></div>
            <div class="panel-body">
                <form name="plan">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="planName" class="col-sm-2">Nombre:</label>
                            <input id="planName" required ng-model="data.name" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="planRestricciones" class="col-sm-2">Restricciones:</label>
                            <input id="planRestricciones" required ng-model="data.restricciones" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="planArchivo" class="col-sm-2">Imagen:</label>
                            <input id="planArchivo" required ng-model="data.archivo" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="planCantidadPersonas" class="col-sm-2">Cantidad personas:</label>
                            <input id="planCantidadPersonas" required ng-model="data.cantidadPersonas" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="planDescription" class="col-sm-2">Descripcion:</label>
                            <textarea id="planDescription" required ng-model="data.descripcion" class="col-sm-6"></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="planPrecio" class="col-sm-2">Precio:</label>
                            <input id="planPrecio" required ng-model="data.precio" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="planDuracion" class="col-sm-2">Duracion:</label>
                            <input id="planDuracion" required ng-model="data.duracion" class="col-sm-6"/>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="planPais" class="col-sm-2">Pais:</label>
                            <input id="planPais" required ng-model="data.ubicacion.pais" class="col-sm-6"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="planCiudad" class="col-sm-2">Ciudad:</label>
                            <input id="planCiudad" required ng-model="data.ubicacion.ciudad" class="col-sm-6"/>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="planLatitud" class="col-sm-2">Latitud:</label>
                            <input id="planLatitud" required ng-model="data.ubicacion.latitud" class="col-sm-6"/>
                        </div>
                    </div>                    
                    
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="planLongitud" class="col-sm-2">Longitud:</label>
                            <input id="planLongitud" required ng-model="data.ubicacion.longitud" class="col-sm-6"/>
                        </div>
                    </div>
                    
                    <div ng-if="!edit" class="form-group row">
                        <div class="form-group col-md-12">
                            <label for="planCats" class="col-sm-12">Categorías (inserte los nombres de las categorías separados con "-"):</label>
                            <input id="planCats" required ng-model="data.categorias" class="col-sm-6"/>
                        </div>
                    </div>
                    
                     <div ng-if="!edit" class="panel-group" id="thePreferencias">
                        <div class="panel panel-info">
                            <div class="panel-heading">Nombres categorías posibles para añadir: (Si introduce otros que no estén en la lista se crea la categoría)</div>
                            <div class="panel-body">
                                    <div ng-show="!edit" ng-repeat="preferencia in AllPreferencias">
                                        <p> {{preferencia.tipoPlan}}</p>                                 
                                    </div>                               
                            </div>
                        </div>
                    </div>
                    
                    <div ng-if="!edit" class="form-group row">
                        <div class="form-group col-md-12">
                            <label for="planGuides" class="col-sm-12">Guías (inserte los id's de los guias separados con "-"):</label>
                            <input id="planGuides" required ng-model="data.guides" class="col-sm-6"/>
                        </div>
                    </div>
                    
                     <div ng-if="!edit" class="panel-group" id="theGuides">
                        <div class="panel panel-info">
                            <div class="panel-heading">Id's de los guias posibles para añadir:</div>
                            <div class="panel-body">
                                    <div ng-show="!edit" ng-repeat="guide in AllGuides">
                                        <p> {{guide.idGuia}}</p>                                 
                                    </div>                               
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!plan.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="plan.$valid" ng-click="createPlan()" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="plansList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


